# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
override.tf

# Secrets — kabhi commit mat karna
*.pem
*.key
.env
.env.*
secrets/
credentials

# Python
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
